Repository fluxcd/flux, pull requests merged in 2018-08, with the labels that each got.

#1245 Add note on git repo layout to FAQ (and correct example URL, while we're here)
  site/faq.md
  site/using.md
Labels: docs

#1254 Rewrite operator to use chartsync
  cmd/helm-operator/main.go
  integrations/helm/chartsync/chartsync.go
  integrations/helm/operator/operator.go
  integrations/helm/release/release.go
Labels: helm, refactor

#1299 Helm chart: Allow helm-op to sync with a different git repo than Flux
  chart/flux/Chart.yaml
  chart/flux/README.md
  chart/flux/templates/helm-operator-deployment.yaml
  chart/flux/values.yaml
Labels: helm

#1323 Update contributor docs
  CONTRIBUTING.md
  README.md
Labels: docs
