Repository fluxcd/flux, pull requests merged in 2018-07, with the labels that each got.

#1200 helm-op: Add support for connecting to tiller using tls
  chart/flux/README.md
  chart/flux/templates/helm-operator-deployment.yaml
  chart/flux/templates/helm-tls.yaml
  chart/flux/values.yaml
  cmd/helm-operator/main.go
  integrations/helm/helm.go
  site/helm/helm-integration.md
Labels: helm

#1238 git repo improvements for helm operator
  daemon/daemon_test.go
  daemon/loop_test.go
  git/export.go
  git/gittest/repo.go
  git/gittest/repo_test.go
  git/operations.go
  git/repo.go
  git/working.go
Labels: refactor

#1240 Rewrite helm operator to use same git code as fluxd
  Gopkg.lock
  Gopkg.toml
  cmd/helm-operator/main.go
  git/export.go
  git/export_test.go
  git/operations.go
  git/operations_test.go
  integrations/helm/chartsync/chartsync.go
  integrations/helm/chartsync/utils.go
  integrations/helm/git/git.go
  integrations/helm/helm.go
  integrations/helm/operator/operator.go
  integrations/helm/release/release.go
  integrations/helm/releasesync/releasesync.go
  integrations/helm/releasesync/releasesync_test.go
  integrations/helm/releasesync/utils.go
Labels: helm, refactor
