Repository fluxcd/flux, pull requests merged in 2019-02, with the labels that each got.

#1711 Release Helm operator v0.6.0
  CHANGELOG-helmop.md
  deploy-helm/helm-operator-deployment.yaml
  deploy-helm/weave-cloud-helm-operator-deployment.yaml
Labels: helm

#1715 Housekeeping: merge release/helm 0.6.x back into master
  CHANGELOG-helmop.md
  deploy-helm/helm-operator-deployment.yaml
  deploy-helm/weave-cloud-helm-operator-deployment.yaml
Labels: helm

#1744 Document using Azure ACR Helm repositories
  site/helm-integration.md
Labels: docs, helm

#1745 Use UID of HelmRelease as dry run release name
  integrations/helm/chartsync/chartsync.go
  integrations/helm/release/release.go
Labels: helm

#1751 Document source of Azure SSH host key
  docker/verify_known_hosts.sh
Labels: docs

#1753 Updates Docs (wording, typos, formatting)
  README.md
  site/annotations-tutorial.md
  site/fluxctl.md
  site/get-started.md
  site/helm-get-started.md
  site/helm-integration.md
  site/helm-operator.md
  site/introduction.md
  site/upgrading-to-1.0.md
Labels: docs

#1755 document flux-dev mailing list
  CONTRIBUTING.md
  README.md
Labels: docs

#1754 Re-flow sections to order by importance
  site/building.md
  site/faq.md
  site/fluxctl.md
  site/helm-integration.md
  site/standalone-setup.md
  site/troubleshooting.md
Labels: docs

#1760 Add Helm force upgrade option
  chart/flux/templates/helm-operator-crd.yaml
  deploy-helm/flux-helm-release-crd.yaml
  integrations/apis/flux.weave.works/v1beta1/types.go
  integrations/helm/release/release.go
Labels: helm

#1768 Provide descriptive error when chart dir is absent while updating deps
  integrations/helm/chartsync/deps.go
Labels: UX, helm

#1757 Annotate resources outside of HelmRelease NS
  integrations/helm/release/release.go
Labels: helm
