Repository fluxcd/flux, pull requests merged in 2019-10, with the labels that each got.

#2491 Build: release modifications
  .circleci/config.yml
Labels: build

#2506 Fix typo in guide index docs
  docs/guides/index.rst
Labels: docs

#2502 Update FAQ advice on using ignore annotation
  docs/faq.md
Labels: docs

#2511 Document sync-state and git-readonly daemon flags
  docs/references/daemon.md
Labels: docs

#2526 Docs: fix namespace in `kubectl logs` example
  docs/tutorials/driving-flux.md
Labels: docs

#2531 Fix command in fluxyaml config example
  docs/references/fluxyaml-config-files.md
Labels: docs

#2542 Chart: Fix memcached PSP
  chart/flux/templates/memcached.yaml
Labels: helm-chart
