Repository fluxcd/flux, pull requests merged in 2019-05, with the labels that each got.

#2005 Small sync fixes Helm operator
  integrations/helm/chartsync/chartsync.go
  integrations/helm/operator/operator.go
  integrations/helm/status/conditions.go
  integrations/helm/status/status.go
Labels: helm

#2007 Add helm tag filters examples
  site/helm-integration.md
Labels: docs

#2008 Log and return early if release is not upgradable
  integrations/helm/chartsync/chartsync.go
  integrations/helm/release/release.go
Labels: UX, helm

#2017 Release Helm operator v0.9.0
  CHANGELOG-helmop.md
  deploy-helm/helm-operator-deployment.yaml
  deploy-helm/weave-cloud-helm-operator-deployment.yaml
Labels: helm

#2023 Housekeeping: merge release/helm-0.9.x back into master
  CHANGELOG-helmop.md
  deploy-helm/helm-operator-deployment.yaml
  deploy-helm/weave-cloud-helm-operator-deployment.yaml
Labels: helm

#2027 Ensure git chart source before comparing mirror
  integrations/helm/chartsync/chartsync.go
  test/e2e/e2e-golang.sh
  test/e2e/e2e-kind.sh
Labels: helm

#2030 Release Helm operator v0.9.1
  CHANGELOG-helmop.md
  CHANGELOG.md
  README.md
  chart/flux/CHANGELOG.md
  chart/flux/Chart.yaml
  chart/flux/templates/helm-operator-deployment.yaml
  chart/flux/values.yaml
  cluster/kubernetes/resourcekinds.go
  deploy-helm/helm-operator-deployment.yaml
  deploy-helm/weave-cloud-helm-operator-deployment.yaml
  deploy/flux-deployment.yaml
  integrations/helm/chartsync/chartsync.go
  site/faq.md
  test/e2e/e2e-golang.sh
  test/e2e/e2e-kind.sh
Labels: helm

#2031 Housekeeping: merge release/helm-0.9.x back into master
  CHANGELOG-helmop.md
  deploy-helm/helm-operator-deployment.yaml
  deploy-helm/weave-cloud-helm-operator-deployment.yaml
Labels: helm

#1992 Make it possible to overwrite image TS with label
  cmd/fluxctl/list_images_cmd.go
  daemon/images.go
  image/image.go
  image/image_test.go
  registry/client.go
  site/fluxctl.md
Labels: UX, bug, enhancement

#2035 Always list the status of a workload in `fluxctl`
  cmd/fluxctl/list_workloads_cmd.go
Labels: UX

#2081 Enqueue release on clone change only
  integrations/helm/chartsync/chartsync.go
Labels: helm

#2088 Explicitly state requirements for automated `HelmRelease`s
  site/helm-integration.md
Labels: docs, helm

#2095 Enable pprof Helm operator
  integrations/helm/http/daemon/server.go
Labels: helm

#2104 Update contrib guide: working on Flux issues
  CONTRIBUTING.md
  site/get-started.md
Labels: docs

#2108 Document snaps
  site/fluxctl.md
Labels: docs

#2109 clarify docs a little, add links
  CONTRIBUTING.md
  site/fluxctl.md
Labels: docs

#2103 Reorder boot and verify informer cache sync
  cmd/helm-operator/main.go
  integrations/helm/operator/operator.go
Labels: helm
