Repository fluxcd/flux, pull requests merged in 2019-08, with the labels that each got.

#2316 Move successful chart fetch signal to reconcile
  integrations/helm/chartsync/chartsync.go
Labels: helm

#2320 Publish Flux chart to GitHub Pages with CircleCI
  .circleci/config.yml
Labels: build

#2323 Update Slack information in MAINTAINERS file
  MAINTAINERS
Labels: docs

#2333 Housekeeping: merge release/helm-0.10.x back into master
  CHANGELOG-helmop.md
  chart/flux/values.yaml
  deploy-helm/helm-operator-deployment.yaml
  deploy-helm/weave-cloud-helm-operator-deployment.yaml
Labels: helm

#2335 Release chart v0.12.0
  chart/flux/CHANGELOG.md
  chart/flux/Chart.yaml
  chart/flux/README.md
  chart/flux/templates/deployment.yaml
  chart/flux/values.yaml
Labels: helm-chart

#2341 Change chart repo to charts.fluxcd.io
  chart/flux/README.md
  docs/helm-operator/tutorials/get-started.md
  docs/tutorials/driving-flux.md
  docs/tutorials/get-started-helm.md
Labels: docs

#2344 Remove Go tarbal once Go is installed
  .circleci/config.yml
Labels: build

#2349 Switch order of `test` and `check-generated`
  .circleci/config.yml
Labels: build

#2334 Support different targetNamespace for HelmRelease #2128
  chart/flux/templates/helm-operator-crd.yaml
  deploy-helm/flux-helm-release-crd.yaml
  integrations/apis/flux.weave.works/v1beta1/types.go
  integrations/helm/release/release.go
Labels: helm

#2355 Add liveness and readiness probes
  chart/flux/templates/deployment.yaml
  deploy/flux-deployment.yaml
  install/generated_templates.gogen.go
  install/templates/flux-deployment.yaml.tmpl
Labels: helm-chart

#2356 Stop pushing Helm operator images
  .circleci/config.yml
Labels: build

#2358 Add Kustomize, Helm and Flagger to docs
  docs/introduction.md
  docs/references/helm-operator-integration.md
Labels: docs

#2364 Update recommonmark, fix a warning
  docs/references/daemon.md
  docs/requirements.txt
Labels: docs

#2361 Build: take prerelease containing numbers into account
  .circleci/config.yml
Labels: build

#2329 Remove Helm operator from codebase
  .circleci/config.yml
  CHANGELOG-helmop.md
  CHANGELOG.md
  Makefile
  README.md
  bin/helm/custom-boilerplate.go.txt
  bin/helm/update_codegen.sh
  cluster/kubernetes/kubernetes.go
  cluster/kubernetes/resource/helmrelease.go
  cluster/kubernetes/resource/helmrelease_test.go
  cluster/kubernetes/resource/resource.go
  cluster/kubernetes/resourcekinds.go
  cluster/kubernetes/sync_test.go
  cluster/kubernetes/update_test.go
  cmd/fluxd/main.go
  cmd/helm-operator/main.go
  deploy-helm/flux-helm-release-crd.yaml
  deploy-helm/helm-operator-deployment.yaml
  deploy-helm/weave-cloud-helm-operator-deployment.yaml
  docker/Dockerfile.helm-operator
  docker/helm-repositories.yaml
  docs/helm-operator/faq.md
  docs/helm-operator/guides/index.rst
  docs/helm-operator/guides/upgrading-to-beta.md
  docs/helm-operator/index.rst
  docs/helm-operator/references/helmrelease-custom-resource.md
  docs/helm-operator/references/index.rst
  docs/helm-operator/references/operator.md
  docs/helm-operator/troubleshooting.md
  docs/helm-operator/tutorials/get-started.md
  docs/helm-operator/tutorials/index.rst
  docs/index.rst
  go.mod
  go.sum
  install/install_test.go
  integrations/apis/flux.weave.works/v1beta1/types.go
  integrations/helm/api/api.go
  integrations/helm/chartsync/chartsync.go
  integrations/helm/chartsync/deps.go
  integrations/helm/chartsync/deps_test.go
  integrations/helm/chartsync/download.go
  integrations/helm/chartsync/test/chart-without-deps/.helmignore
  integrations/helm/chartsync/test/chart-without-deps/Chart.yaml
  integrations/helm/chartsync/test/chart-without-deps/values.yaml
  integrations/helm/helm.go
  integrations/helm/http/daemon/server.go
  integrations/helm/http/routes.go
  integrations/helm/http/transport.go
  integrations/helm/operator/metrics.go
  integrations/helm/operator/operator.go
  integrations/helm/release/metrics.go
  integrations/helm/release/release.go
  integrations/helm/release/release_test.go
  integrations/helm/status/conditions.go
  integrations/helm/status/status.go
  test/e2e/run.sh
  tools.go
Labels: helm

#2365 Menu item for Helm operator documentation
  docs/Makefile
  docs/index.rst
Labels: docs

#2367 Fixed broken URLs and mentions of old organization
  chart/flux/README.md
  chart/flux/templates/NOTES.txt
  daemon/errors.go
  deploy/flux-deployment.yaml
  docs/references/fluxyaml-config-files.md
  git/errors.go
  install/generated_templates.gogen.go
  install/templates/flux-deployment.yaml.tmpl
  internal_docs/releasing.md
  release/errors.go
  remote/errors.go
Labels: docs

#2249 Support defining image paths for HelmReleases
  bin/kubeyaml
  cluster/kubernetes/errors.go
  cluster/kubernetes/kubeyaml.go
  cluster/kubernetes/manifests.go
  cluster/kubernetes/policies_test.go
  cluster/kubernetes/resource/helmrelease.go
  cluster/kubernetes/resource/helmrelease_test.go
  cluster/kubernetes/resource/resource.go
  cluster/kubernetes/resourcekinds.go
  cluster/kubernetes/update.go
  cluster/kubernetes/update_test.go
  docker/Dockerfile.flux
  go.mod
  go.sum
Labels: helm-op-1.0

#2372 Docs: fix link to chart/flux/README.md
  docs/troubleshooting.md
  docs/tutorials/get-started-helm.md
Labels: docs

#2375 Add Flux deployment kustomization
  deploy/kustomization.yaml
  docs/tutorials/get-started-kustomize.md
  docs/tutorials/index.rst
  install/generated_templates.gogen.go
  install/templates/flux-deployment.yaml.tmpl
Labels: docs

#2298 `fluxctl install` in the guides and new annotation docs
  docs/faq.md
  docs/references/fluxctl.md
  docs/references/fluxyaml-config-files.md
  docs/references/helm-operator-integration.md
  docs/tutorials/driving-flux.md
  docs/tutorials/get-started.md
Labels: docs

#2369 Add automated image update examples to docs
  docs/references/automated-image-update.md
  docs/references/index.rst
Labels: docs

#2384 Install docs fixes
  docs/tutorials/get-started-kustomize.md
  docs/tutorials/get-started.md
Labels: docs

#2395 Set fluxctl namespace in docs
  chart/flux/README.md
  docs/tutorials/driving-flux.md
  docs/tutorials/get-started-kustomize.md
  docs/tutorials/get-started.md
Labels: docs

#2393 chart: add the ability to disable the memcached deployment
  chart/flux/README.md
  chart/flux/templates/deployment.yaml
  chart/flux/templates/memcached.yaml
  chart/flux/values.yaml
Labels: helm-chart

#2412 Fix the resolving of a single v1 HelmRelease
  cluster/kubernetes/resourcekinds.go
Labels: bug
