Repository fluxcd/flux, pull requests merged in 2019-09, with the labels that each got.

#2434 [Bugfix] Mount AKS service principal through secret instead of hostPath for ACR support
  chart/flux/README.md
  chart/flux/templates/deployment.yaml
  chart/flux/values.yaml
  docs/troubleshooting.md
Labels: helm-chart

#2436 Remove `values.` prefix from annotation examples
  docs/references/helm-operator-integration.md
Labels: docs

#2459 reflow commit customization bits, fix link
  docs/references/fluxctl.md
Labels: docs

#2482 Build: upgrade Go to `1.13.1`
  .circleci/config.yml
  docs/contributing/building.md
  go.mod
  snap/snapcraft.yaml
Labels: build
