Repository fluxcd/flux, pull requests merged in 2019-12, with the labels that each got.

#2650 Chart: Add support for annotations in the service account
  chart/flux/README.md
  chart/flux/templates/serviceaccount.yaml
  chart/flux/values.yaml
Labels: helm-chart

#2629 fix: added support for annotation for memcached
  chart/flux/templates/memcached.yaml
Labels: helm-chart

#2634 Simplify fluxyaml reference
  docs/references/fluxyaml-config-files.md
Labels: docs

#2658 Fix link in troubleshooting docs
  docs/troubleshooting.md
Labels: docs

#2653 Docs: include gpg's --armor option on export
  docs/references/git-gpg.md
Labels: docs

#2666 docs: Add early link pointing to kustomize example
  docs/references/fluxyaml-config-files.md
Labels: docs

#2668 Add a ServiceMonitor template to the chart
  chart/flux/README.md
  chart/flux/templates/servicemonitor.yaml
  chart/flux/values.yaml
Labels: helm-chart

#2670 Update docs on annotations in HelmReleases
  docs/references/helm-operator-integration.md
Labels: docs

#2680 Add Workable to the list of companies using Flux in production
  README.md
Labels: docs

#2580 Sops support
  Makefile
  cmd/fluxd/main.go
  docker/Dockerfile.flux
  docker/sops.version
  docs/references/daemon.md
  go.mod
  go.sum
  pkg/cluster/kubernetes/manifests.go
  pkg/cluster/kubernetes/resource/load.go
  pkg/cluster/kubernetes/resource/load_test.go
  pkg/cluster/kubernetes/testfiles/data.go
  pkg/gpg/gpgtest/gpg.go
Labels: enhancement

#2684 Pseudo randomize push check tag
  pkg/git/operations.go
  pkg/git/repo.go
Labels: bug

#2698 Remove Helm Operator from Flux chart
  chart/flux/CHANGELOG.md
  chart/flux/Chart.yaml
  chart/flux/templates/flux-helm-repositories.yaml
  chart/flux/templates/helm-operator-crd.yaml
  chart/flux/templates/helm-operator-deployment.yaml
  chart/flux/templates/helm-tls.yaml
  chart/flux/values.yaml
  docs/tutorials/get-started-helm.md
  test/e2e/10_helm_chart.bats
  test/e2e/lib/install.bash
Labels: helm-chart

#2692 Adds nodeSelector to deployment templates for mixed OS clusters
  chart/flux/templates/deployment.yaml
  chart/flux/templates/memcached.yaml
  deploy/flux-deployment.yaml
  deploy/memcache-dep.yaml
  pkg/install/generated_templates.gogen.go
  pkg/install/templates/flux-deployment.yaml.tmpl
  pkg/install/templates/memcache-dep.yaml.tmpl
Labels: enhancement

#2705 Added hostAliases to deployment template
  chart/flux/README.md
  chart/flux/templates/deployment.yaml
  chart/flux/values.yaml
Labels: helm-chart
