Repository fluxcd/flux, pull requests merged in 2019-06, with the labels that each got.

#2146 Make note of required Tiller config in prod envs
  site/annotations-tutorial.md
  site/helm-get-started.md
  site/helm-operator.md
Labels: docs, helm

#2155 Housekeeping: merge release/helm-0.9.x back into master
  CHANGELOG-helmop.md
  chart/flux/values.yaml
  deploy-helm/helm-operator-deployment.yaml
  deploy-helm/weave-cloud-helm-operator-deployment.yaml
Labels: helm

#2151 Update internal docs about release process
  internal_docs/releasing.md
Labels: docs

#2123 Confirm release belongs to HR before upgrading
  integrations/helm/chartsync/chartsync.go
  integrations/helm/release/release.go
Labels: helm

#2185 Remove Weave Cloud mentions
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  README.md
  chart/flux/README.md
  daemon/sync_test.go
  gpg/gpgtest/gpg.go
  site/annotations-tutorial.md
  site/building.md
  site/faq.md
  site/fluxctl.md
  site/get-started.md
  site/helm-get-started.md
  site/helm-operator.md
  site/how-it-works.md
  site/installing.md
  site/introduction.md
  site/monitoring.md
  site/troubleshooting.md
  site/upgrading-to-1.0.md
  snap/snapcraft.yaml
Labels: docs

#2198 Only log diff when enabled and rephrase log message
  integrations/helm/chartsync/chartsync.go
Labels: helm

#2194 Support spawning multiple workers
  cmd/helm-operator/main.go
Labels: helm

#2191 Expand Prometheus metrics Helm operator
  integrations/apis/flux.weave.works/v1beta1/types.go
  integrations/helm/chartsync/chartsync.go
  integrations/helm/operator/metrics.go
  integrations/helm/operator/operator.go
  integrations/helm/release/metrics.go
  integrations/helm/release/release.go
  integrations/helm/status/status.go
Labels: helm
