Repository fluxcd/flux, pull requests merged in 2019-11, with the labels that each got.

#2573 Chart: allow `git.verifySignature` to be `"false"`
  chart/flux/templates/deployment.yaml
Labels: helm-chart

#2551 Update the automation interval flag in the chart
  chart/flux/README.md
  chart/flux/templates/deployment.yaml
  chart/flux/values.yaml
Labels: helm-chart

#2532 Fix some steps in README.md to install flux by helm
  chart/flux/README.md
Labels: docs

#2625 add --k8s-default-namespace argument to override default namespace
  cmd/fluxd/main.go
  docs/references/daemon.md
  pkg/cluster/kubernetes/cached_disco_test.go
  pkg/cluster/kubernetes/manifests_test.go
  pkg/cluster/kubernetes/namespacer.go
  pkg/cluster/kubernetes/namespacer_test.go
  pkg/cluster/kubernetes/sync_test.go
Labels: enhancement

#2639 Release Helm chart 0.16.0
  chart/flux/CHANGELOG.md
  chart/flux/Chart.yaml
  chart/flux/values.yaml
  internal_docs/releasing.md
Labels: helm-chart

#2641 Docs: update helm chart release steps
  internal_docs/releasing.md
Labels: docs

#2644 Add Infabode to companies using Flux in prod
  README.md
Labels: docs
