Repository fluxcd/flux, pull requests merged in 2019-03, with the labels that each got.

#1781 Remove deprecated Helm op --git-poll-interval flag
  cmd/helm-operator/main.go
Labels: helm

#1795 fix Github link
  site/get-started.md
Labels: docs

#1776 Provide hook to instruct Helm operator to refresh git mirrors
  cmd/helm-operator/main.go
  git/mirrors.go
  integrations/helm/api/api.go
  integrations/helm/chartsync/chartsync.go
  integrations/helm/http/daemon/server.go
  integrations/helm/http/routes.go
  integrations/helm/http/transport.go
  integrations/helm/operator/operator.go
  site/helm-integration.md
  site/helm-operator.md
Labels: helm, helm-op-1.0

#1746 Record the Revision in the status
  cmd/helm-operator/main.go
  integrations/apis/flux.weave.works/v1beta1/types.go
  integrations/helm/chartsync/chartsync.go
  integrations/helm/status/status.go
Labels: helm

#1824 Do not require 'values' object in HelmRelease CRD
  chart/flux/templates/helm-operator-crd.yaml
  deploy-helm/flux-helm-release-crd.yaml
Labels: helm

#1823 Move skipDepUpdate to GitChartSource part of CRD
  chart/flux/templates/helm-operator-crd.yaml
  deploy-helm/flux-helm-release-crd.yaml
  integrations/apis/flux.weave.works/v1beta1/types.go
  integrations/helm/chartsync/chartsync.go
Labels: helm

#1835 Typo: 'Heml' -> 'Helm'
  site/helm-integration.md
Labels: docs

#1836 Support loading Helm values from different source types
  chart/flux/templates/helm-operator-crd.yaml
  deploy-helm/flux-helm-release-crd.yaml
  integrations/apis/flux.weave.works/v1beta1/types.go
  integrations/apis/flux.weave.works/v1beta1/zz_generated.deepcopy.go
  integrations/helm/release/release.go
  site/helm-integration.md
Labels: helm

#1856 Release Helm operator v0.7.0
  CHANGELOG-helmop.md
  deploy-helm/helm-operator-deployment.yaml
  deploy-helm/weave-cloud-helm-operator-deployment.yaml
Labels: helm

#1858 Housekeeping: merge release/helm-0.7.x back into master
  CHANGELOG-helmop.md
  deploy-helm/helm-operator-deployment.yaml
  deploy-helm/weave-cloud-helm-operator-deployment.yaml
Labels: helm

#1867 Initialize result values to prevent panic on merge
  integrations/helm/release/release.go
Labels: helm

#1868 Release Helm operator v0.7.1
  CHANGELOG-helmop.md
  deploy-helm/helm-operator-deployment.yaml
  deploy-helm/weave-cloud-helm-operator-deployment.yaml
  integrations/helm/release/release.go
Labels: helm

#1800 End-to-end infrastructure bootstrap
  .circleci/config.yml
  test/e2e/e2e-flux-build.sh
  test/e2e/e2e-flux-chart.sh
  test/e2e/e2e-git.sh
  test/e2e/e2e-golang.sh
  test/e2e/e2e-helm.sh
  test/e2e/e2e-kind.sh
  test/e2e/git-dep.yaml
  test/e2e/known_hosts
Labels: build
