Repository fluxcd/flux, pull requests merged in 2019-01, with the labels that each got.

#1632 Fix the identity command
  site/helm-get-started.md
Labels: docs

#1628 Add reset values option to Helm upgrade
  chart/flux/CHANGELOG.md
  chart/flux/templates/helm-operator-crd.yaml
  deploy-helm/flux-helm-release-crd.yaml
  integrations/apis/flux.weave.works/v1beta1/types.go
  integrations/helm/release/release.go
Labels: helm

#1619 Native ECR auth
  Gopkg.lock
  cmd/fluxd/main.go
  registry/aws.go
  registry/credentials.go
  site/daemon.md
  site/faq.md
Labels: enhancement, help wanted

#1652 Add instructions for Weave Cloud helm-op install
  deploy-helm/weave-cloud-helm-operator-deployment.yaml
  site/helm-operator.md
Labels: helm

#1653 Add Prometheus metrics exporter to helm-op
  chart/flux/templates/helm-operator-deployment.yaml
  cmd/helm-operator/main.go
  deploy-helm/helm-operator-deployment.yaml
  integrations/helm/http/daemon/server.go
Labels: helm

#1655 Add Flux AWS ECR flags to Helm chart
  chart/flux/README.md
  chart/flux/templates/deployment.yaml
  chart/flux/templates/helm-operator-deployment.yaml
  chart/flux/templates/memcached.yaml
  chart/flux/values.yaml
Labels: helm

#1656 Note k8s 1.13.0 secret creation issue
  site/troubleshooting.md
Labels: docs

#1675 add tutorial which discusses automation, annotations, locks
  README.md
  site/annotations-tutorial.md
  site/get-started.md
  site/helm-get-started.md
Labels: docs

#1664 Add option to limit helm-op to a single namespace
  CHANGELOG-helmop.md
  chart/flux/CHANGELOG.md
  chart/flux/README.md
  chart/flux/templates/helm-operator-deployment.yaml
  chart/flux/values.yaml
  cmd/helm-operator/main.go
  integrations/helm/chartsync/chartsync.go
  integrations/helm/status/status.go
  site/helm-operator.md
Labels: helm
