Repository fluxcd/flux, pull requests merged in 2020-08, with the labels that each got.

#3233 Release Flux chart v1.4.1
  chart/flux/CHANGELOG.md
  chart/flux/Chart.yaml
Labels: helm-chart

#3235 Bump Go to 1.14.7 fix CVE-2020-14040
  .circleci/config.yml
  .github/workflows/ci.yaml
  go.mod
Labels: build

#3238 fluxctl snap requires the --classic option
  docs/references/fluxctl.md
Labels: docs

#3255 Update README.md
  chart/flux/README.md
Labels: helm-chart

#3227 Add a secretDataKey parameter to the Flux Helm chart
  chart/flux/README.md
  chart/flux/templates/deployment.yaml
  chart/flux/values.yaml
Labels: helm-chart

#3183 Add more Helm chart dashboard options
  chart/flux/README.md
  chart/flux/dashboards/flux.json
  chart/flux/templates/configmap-dashboards.yaml
  chart/flux/values.yaml
Labels: helm-chart

#3260 Release Helm chart v1.5.0
  chart/flux/CHANGELOG.md
  chart/flux/Chart.yaml
Labels: helm-chart
