Repository fluxcd/flux, pull requests merged in 2020-04, with the labels that each got.

#2948 Fix more links
  CHANGELOG.md
  README.md
  docs/contributing/get-started-developing.md
  docs/references/daemon.md
  docs/troubleshooting.md
  internal/docs/releasing.md
Labels: docs

#2956 ci: more thorough link checking
  .github/workflows/docs.yaml
  .github/workflows/markdown-link-check-config.json
Labels: docs

#2973 Update get started docs
  docs/tutorials/driving-flux.md
  docs/tutorials/get-started-helm.md
  docs/tutorials/get-started.md
Labels: docs

#2977 build: move back to upstream gh action
  .github/workflows/docs.yaml
Labels: build, docs

#2987 Update kubectl to 1.17.4
  docker/kubectl.version
Labels: build

#2982 Add AWS China region domain to recognized ECR hosts
  cmd/fluxd/main.go
  pkg/registry/aws.go
Labels: bug

#3000 fix broken minikube link, only report broken links in GH action
  .github/workflows/docs.yaml
  docs/contributing/get-started-developing.md
  docs/requirements.txt
Labels: docs

#2992 Make clear dockercfg.secretName and configFileName
  chart/flux/README.md
Labels: helm-chart

#3035 Update chart git.path docs
  chart/flux/README.md
Labels: helm-chart
