Repository fluxcd/flux, pull requests merged in 2020-02, with the labels that each got.

#2819 Remove obsolete `integration-test` target
  Makefile
Labels: build

#2830 Add note about targeting a specific Helm version for the Helm operator
  docs/tutorials/get-started-helm.md
Labels: docs

#2803 Support multiple signature verification strategies with `--gitVerifySignaturesMode`
  cmd/fluxd/main.go
  docs/references/git-gpg.md
  go.mod
  go.sum
  pkg/daemon/daemon.go
  pkg/daemon/daemon_test.go
  pkg/daemon/loop.go
  pkg/daemon/sync.go
  pkg/daemon/sync_test.go
  pkg/git/gittest/repo_test.go
  pkg/git/operations.go
  pkg/git/operations_test.go
  pkg/git/repo.go
  pkg/sync/git.go
  pkg/sync/provider.go
Labels: enhancement

#2863 Fixing Helm operator docs link
  docs/index.rst
Labels: docs

#2866 docs: add other semver example with range
  docs/references/automated-image-update.md
Labels: docs

#2872 chart: support priority class
  chart/flux/README.md
  chart/flux/templates/deployment.yaml
  chart/flux/values.yaml
Labels: helm-chart

#2870 fix(charts): Added missing flag
  chart/flux/README.md
  chart/flux/templates/deployment.yaml
  chart/flux/values.yaml
  docs/references/daemon.md
Labels: helm-chart

#2876 fix: update pluralization of yaml to non-disputable version
  pkg/cluster/kubernetes/resource/load.go
Labels: UX

#2865 Dedicated error for unresolvable Git hostname
  cmd/fluxctl/sync_cmd.go
  pkg/git/repo.go
Labels: UX
