Repository fluxcd/flux, pull requests merged in 2020-01, with the labels that each got.

#2727 e2e: check for GNU parallel and schedule defers before creation
  test/e2e/run.bash
Labels: build

#2719 Namespace whitelisting in helm chart without clusterRole
  chart/flux/README.md
  chart/flux/templates/deployment.yaml
  chart/flux/templates/rbac-role.yaml
  chart/flux/values.yaml
  cmd/fluxd/main.go
  pkg/cluster/kubernetes/kubernetes.go
  pkg/cluster/kubernetes/kubernetes_test.go
Labels: helm-chart

#2732 docs: update the get-started guide to recent versions of Kustomize
  docs/tutorials/get-started-kustomize.md
Labels: docs

#2730 Fix typo and mention sops in `.flux.yaml` docs
  docs/references/fluxyaml-config-files.md
Labels: docs

#2741 Honor KUBECONFIG env variable in fluxd
  cmd/fluxd/main.go
Labels: enhancement

#2721 Separate Git Poll Interval from Sync Interval
  chart/flux/README.md
  chart/flux/templates/deployment.yaml
  chart/flux/values.yaml
Labels: helm-chart

#2744 Add Kiam whitelist to ECR docs
  docs/faq.md
Labels: docs

#2745 Disable Image Scanning with a flag [take 2]
  cmd/fluxctl/install_cmd.go
  cmd/fluxd/main.go
  docs/references/daemon.md
  pkg/daemon/sync_test.go
  pkg/install/generated_templates.gogen.go
  pkg/install/install.go
  pkg/install/install_test.go
  pkg/install/templates/flux-deployment.yaml.tmpl
  pkg/registry/registry.go
  pkg/update/release_image.go
Labels: enhancement

#2746 chart: Disable memcached when Flux is in readonly mode
  chart/flux/README.md
  chart/flux/templates/memcached.yaml
Labels: helm-chart

#2750 build: Stop publishing Flux chart to gh-pages
  .circleci/config.yml
Labels: build

#2753 Update FAQ with --registry-scanning
  docs/faq.md
Labels: docs

#2754 Rename --k8s-exclude-resource to --k8s-unsafe-exclude-resource
  cmd/fluxd/main.go
  docs/references/daemon.md
  docs/troubleshooting.md
Labels: docs

#2762 Helm chart sops support
  chart/flux/README.md
  chart/flux/templates/deployment.yaml
  chart/flux/values.yaml
Labels: helm-chart

#2770 Update install docs to Helm v3
  chart/flux/README.md
  docs/tutorials/get-started-helm.md
Labels: docs

#2775 Add podLabels to values.yaml & update deployment.yaml
  chart/flux/README.md
  chart/flux/templates/deployment.yaml
  chart/flux/values.yaml
Labels: helm-chart

#2785 Unmarshal Docker image labels separately
  pkg/image/image.go
  pkg/registry/client.go
Labels: bug

#2788 Make clone cleanups more robust
  pkg/daemon/daemon.go
  pkg/daemon/sync.go
  pkg/git/export.go
  pkg/git/repo.go
  pkg/sync/git.go
Labels: bug

#2798 docs: fix heading (h3 -> h2) for entry
  docs/troubleshooting.md
Labels: docs

#2652 Changes for openshift as a install target
  chart/flux/templates/memcached.yaml
  chart/flux/values.yaml
  cmd/fluxctl/install_cmd.go
  pkg/install/generated_templates.gogen.go
  pkg/install/install.go
  pkg/install/install_test.go
  pkg/install/templates/memcache-dep.yaml.tmpl
Labels: helm-chart

#2799 Fix syncing with --k8s-default-namespace
  pkg/cluster/kubernetes/sync.go
  pkg/cluster/kubernetes/sync_test.go
Labels: bug
