Repository fluxcd/flux, pull requests merged in 2021-04, with the labels that each got.

#3465 Add Stencila to Who is using Flux in production
  README.md
Labels: blocked-dco

#3101 [chart] Add support for headless service for Flux, similar to Memcached
  chart/flux/README.md
  chart/flux/templates/service.yaml
  chart/flux/values.yaml
Labels: enhancement, helm-chart

#3131 [chart] Allow specifying k8s-default-namespace in the helm chart
  chart/flux/README.md
  chart/flux/templates/deployment.yaml
  chart/flux/values.yaml
Labels: helm-chart

#3472 [chart] Set nodeSelector with `kubernetes.io` from obsolete `beta.kubernetes.io`
  chart/flux/templates/deployment.yaml
  chart/flux/templates/memcached.yaml
Labels: helm-chart
